@font-face {
    font-family: opensans;
    src: url(font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(font/OpenSans-Bold.ttf);
}

* {
    /* outline: 1px solid red; */
}
/* NAVBAR */

.nav-item {
    font-size: 13px;
    width: 100px;
    text-align: center;
}

.logo {
    height: 5vh;
    width: 5vh;
    background-color: grey;
}


.login{
    background-color: #FE6B00;
    color: white;
    border-radius: 0px;
    border: 3px solid white;
}

.login:hover{
    border: 3px solid #FE6B00;
    color: black;
    border-radius: 0px;
}

.login, .signup {
    font-size: 13px;
    width: 17vh;
}

.active > span {
    font-family: opensans-bold;
    color: #FE6B00;
}

.login {
    background-color: #FE6B00;
    border-radius: 0px;
    color: white;
    font-family: opensans-bold;
}

/* CONTACT */

h1 {
    font-size: 40px;
}

.contact {
    height: 100vh;
    padding-top: 3%;
}

.img {
    height: 75%;
    width: 60%;
    background: url(img/contact-image.png);
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.wrapper {
    display: grid;
    height: 50%;
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "input1 input2 " "input3 input3" "button button";
    gap: 15px;
}

.wrapper > * {
    border: 3px solid #FE6B00;
    padding: 3%;
    box-sizing: border-box;
    border-radius: 5px;
}

.wrapper > button {
    padding: 0%;
    border: transparent;
    border-radius: 0px;
    background-color: #FE6B00;
    color: white;
    text-transform: uppercase;
    font-family: opensans-bold;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) and (max-width: 991.98px) {
    textarea {
        resize: none;
    }
}

@media (max-width: 575.98px) {

    h1 {
        font-size: 40px;
    }

    body {
        overflow: hidden;
    }
    
    .contact-content {
        height: 100vh;
    }

    .wrapper {
        display: grid;
        height: 60%;
        width: 100%;
        grid-template-columns: 1fr ;
        grid-template-rows: 2fr 2fr 5fr 2fr;
        grid-template-areas: "input1" "input2" "input3" "button";
        gap: 15px;
    }

    textarea {
        resize: none;
    }

    .wrapper > * {
        border: transparent;
        border-bottom: 3px solid #FE6B00;
        padding: 3%;
        box-sizing: border-box;
        border-radius: 0px;
    }

    .wrapper > input:focus {
        outline: 3px solid #FE6B00;
        border-bottom: 3px solid white;
    }

    .wrapper > textarea:focus {
        outline: 3px solid #FE6B00;
        border-bottom: 3px solid white;
    }

    .wrapper > button {
        border: transparent;
        border-radius: 0px;
        background-color: #FE6B00;
        color: white;
        text-transform: uppercase;
        font-family: opensans-bold;

    }
}