@font-face {
    font-family: opensans;
    src: url(Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(Font/OpenSans-Bold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid red; */
    font-family: opensans;
    scroll-behavior: smooth;
}

.versus {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 0% 0% 5%;
    height: 3.5vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background-image: url(img/book\ mark.png);
    background-size: cover;
    z-index: 10;
}

.detail {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 0% 0% 10%;
    height: 3.5vw;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background-image: url(img/book\ mark.png);
    background-size: cover;
    z-index: 10;
}

.navbar {
    z-index: 10;
    padding: 0px 2%;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

.navbar > p {
    font-size: 1.5vw;
    font-family: opensans-bold;
}

.navbar-nav {
    text-decoration: none;
    font-family: opensans-bold;
    color: black;
    font-size: 20px;
}

.navbar > .navbar-btn {
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar > .navbar-btn > img {
    width: 30px;
    height: 30px;
    object-position: center;
    object-fit: contain;

}

body {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    width: 200%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Detail Versus";
}

.container1 {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    padding: 0px 10%;
    box-sizing: border-box;
    justify-content: space-between;
    /* display: none; */
}

.container1::-webkit-scrollbar {
    width: 10px;
    height: 10vh;
}

.container1::-webkit-scrollbar-thumb {
    background-color: #FE6B00;
    border-radius: 12px ;
}

.container2 {
    padding-top: 2%;
    box-sizing: border-box;
    grid-area: "Versus";
}

.left-content {
    width: 53%;
}

.right-content {
    margin-top: 10%;
    width: 35%;
    height: 100vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 2%;
    box-sizing: border-box;
}

hr {
    border: 1px solid grey;
}

/* === Left1 === */

.left1 {
    padding-top: 60px;
    height: 30vh;
    display: flex;
    align-items: center;
}

.left1-box {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 40%;
}

.left1-box > p {
    font-size: 2vw;  
    font-family: opensans-bold;
}

.left1-logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
}

.left1-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

/* === Left2 === */

.left2 {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.left2 > div {
    margin-bottom: 5%;
    font-family: opensans-bold;
    font-size: 1.7vw;
}

.left2 > span {
    font-size: 1vw;
    line-height: 20px;
}

/* === Left3 === */

.left3 {
    padding-top: 30px;
    height: 70vh;
}

.left3 > div {
    font-family: opensans-bold;
    font-size: 1.7vw;
    margin-bottom: 2%;
}

.left3 > span {
    font-size: 1vw;
    line-height: 20px;
}

.maps {
    margin-top: 2%;
    height: 90%;
    width: 100%;
    background-color: grey;
}

.white-space {
    height: 15vh;
}

/* === RIGHT CONTENT === */

.right-content > button {
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-family: opensans-bold;
    color: white;
    background-color: #FE6B00;
    border: transparent;
    border-radius: 8px;
}

.right-content > .biaya {
    font-size: 1.2vw;
    font-family: opensans;
    color: grey;
}

.right-content > .harga {
    font-size: 2.8vw;
    font-family: opensans-bold;
    margin-bottom: 5%;
}

.line1 {
    margin-top: 5%;
    align-items: center;
    width: 100%;
    display: flex;
    font-size: 1.1vw;
}

.access, .age {
    margin-top: 2%;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    width: 30%;
    font-size: 0.9vw;
    font-family: opensans-bold;
    border-radius: 5px;
}

.access {
    border: 3px solid #FE6B00;
    color: #FE6B00;
}

.age {
    color: #8F8F8F;
    border: solid #8F8F8F;
}

.line1 > .icon {
    height: 20px;
    width: 20px;
    background-color: grey;
    margin-right: 2%;

}

.vs-background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vs-background > * {
    height: 90vh;
    width: 50vh;
    object-fit: cover;
    opacity: 20%;
}

.background-away {
    opacity: 0%;
    object-position: right;
    object-fit: cover;
    transition: 0.5s ease;
    
}

.background-home {
    opacity: 0%;
    object-fit: cover;
    object-position: left;
    transition: 0.5s ease;
}

.vs-away-home {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.vs-away-home > * {
    height: 100vh;
    width: 23%;
    object-fit: cover;
    background-position: center;
    background-color: green;
}

.vs-away {
    opacity: 0%;
    background: url("img/AWAY.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s ease;
    
}

.vs-home {
    opacity: 0%;
    background: url("img/HOME.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s ease;
}

.vs-detail {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.vs-container {
    width: 40%;
    height: 70vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 3fr 2fr 1.5fr;
    grid-template-areas: "title title title" "away vs home" "detail detail detail" " button button button";
    gap: 15px;
    padding: 1%;
    box-sizing: border-box;
}

.de-title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-family: opensans-bold;
    
}

.de-away {
    grid-area: away;
}

.de-vs {
    grid-area: vs;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-family: opensans-bold;
}

.de-home {
    grid-area: home;
}

.de-detail {
    grid-area: detail;
    padding: 0px 10% 0px 10% ;
}

.de-button {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10% 0px 10% ;
}

.box-icon {
    height: 9vw;
    width: 9vw;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.de-away, .de-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.2vw;
}


.primary {
    width: 100%;
}

.primary > button  {
    height: 50px;
    width: 100%;
    background-color: #FE6B00;
    font-family: opensans-bold;
    border-radius: 8px;
    color: white;
    font-size: 1.3vw;
    border: transparent;
}

.secondary > button  {
    margin-left: 20px ;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: transparent;
}

.white-space {
    height: 15vh;
}


table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 15px;


}

td {
    padding-left: 10px;
    border-bottom: 2px solid #FE6B00;
    font-size: 15px;
}

.td1 {
    width: 30px;
    background: url(img/price.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.td2 {
    width: 30px;
    background: url(img/calender.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

.td3 {
    width: 30px;
    background: url(img/location.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.td4 {
    width: 30px;
    background: url(img/clock.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}



.tableicon {
    display: inline-block;
    height: 100%;
    width: 50px;
    background-color: green;
}

@keyframes background-left {
    0% {
        opacity: 0%;
        width: 0%;
    }

    100%{
        opacity: 20%;
    }
}

@keyframes background-left-leave {
    0% {
        opacity: 0%;
        width: 0%;
    }

    100%{
        opacity: 20%;
    }
}

@keyframes team-left {
    0% {
        opacity: 0%;
        margin-top: 300px;
    }

    100%{
        opacity: 100%;
        margin-top: 0px;
    }
}


@keyframes team-left-leave {
    0% {
        opacity: 0%;
        margin-top: 300px;
    }

    100%{
        opacity: 100%;
        margin-top: 0px;
    }
}

@keyframes team-right {
    0% {
        opacity: 0%;
        margin-bottom: 300px;
    }

    100%{
        opacity: 100%;
        margin-bottom: 0px;
    }
}


@keyframes team-right-leave {
    0% {
        opacity: 0%;
        margin-bottom: 300px;
    }

    100%{
        opacity: 100%;
        margin-bottom: 0px;
    }
}

.background-animation {
    animation-name: background-left;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.away-animation {
    animation-name: team-left;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.home-animation {
    animation-name: team-right;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

/* .background-animation-leave {
    animation-name: background-left-leave;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.away-animation-leave {
    animation-name: team-left-leave;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.home-animation-leave {
    animation-name: team-right-leave;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
} */


