@font-face {
    font-family: opensans;
    src: url(font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(font/OpenSans-Bold.ttf);
}

* {
    /* outline: 1px solid red;      */
}
/* NAVBAR */

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FE6B00;
    border-radius: 5px
  }

.two {
    width: 50%;
    border: 3px solid #8F8F8F;
    color: #8F8F8F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: opensans-bold;

}

.navbar-brand, .report {
    transition: 0.3s ease;
    transform: scale(1);
}

.navbar-brand:hover, .report:hover {
    transform: scale(1.1);
}

.modal-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr;
    gap: 15px;
    grid-template-areas: "report1 report2" "report3 report4" "report5 report5";
}

input[type="checkbox"] {
    display: none;
  }
  
  /* Membuat custom checkbox dengan ukuran yang lebih besar */
  input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 20px; /* Lebar checkbox */
    height: 20px; /* Tinggi checkbox */
    border: 2px solid #FE6B00;
    border-radius: 100%; /* Membuatnya agak membulat */
    margin-right: 5px;
    vertical-align: middle;
    background-color: white;
  }
  
  /* Memberikan tampilan berbeda pada checkbox yang dicentang */
  input[type="checkbox"]:checked + label::before {
    background-color: #FE6B00; /* Ganti dengan warna yang diinginkan saat dicentang */
  }

textarea {
    border: 3px solid #FE6B00;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
}

.report {
    height: 5vh;
    width: 5vh;
    border: none;
}

.navbar > div > span {
    font-size: 20px;
    font-family: opensans-bold;
}

/* LEFTCONTENT */

.content > .row {
    padding-top: 8vh;
}

.title {
    height: 35vh;
    display: flex;
    align-items: center;
}

.userlogo {
    height: 7vw;
    width: 7vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.sportlogo {
    height: 1.2vw;
    width: 1.2vw;
    display: inline-block;
    
}

.title > div > span > span {
    display: flex;
    align-items: center;
}

.title-content > span {
    font-size: 11px;
}

.maps > iframe {
    width: 100%;
    height: 50vh;
    
}
/* BOX1 */

.box1 {
    padding: 8% 8%;
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box2 {
    margin-top: 5%;
    padding: 8% 8%;
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.access {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.access > h1 {
    font-family: opensans-bold;
}

.access > h1 > span {
    font-family: opensans;
    font-size: 15px;
}

.two {
    height: 30px;
    width: 50%;
    border: 3px solid #8F8F8F;
    color: #8F8F8F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: opensans-bold;

}

/* .box-content {
    margin-top: 2%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "icon1 title1" "icon1 description1";
} */

table {
    margin-top: 4%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.icon {
    height: 20px;
    width: 20px;
    
}

.box1 > button  {
    width: 100%;
    height: 12%;
    color: white;
    background-color: #FE6B00;
    border: transparent;
    text-transform: uppercase;
    font-size: 15px;
    font-family: opensans-bold;
}

.phone-button {
    height: 10vh;
    padding: 8px;
    box-sizing: border-box;
}

.phone-button > a {
    background-color: #FE6B00;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: opensans-bold;
    text-decoration: none;
    
}

.sparring-team-icon {
    width: 200px;
    height: 200px;
}

/* === RIGHT CONTENT === */

.right-content > button {
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-family: opensans-bold;
    color: white;
    background-color: #FE6B00;
    border: transparent;
    border-radius: 8px;
}

.right-content > .biaya {
    font-size: 1.2vw;
    font-family: opensans;
    color: grey;
}

.right-content > .harga {
    font-size: 2.8vw;
    font-family: opensans-bold;
    margin-bottom: 5%;
}

.line1 {
    margin-top: 5%;
    align-items: center;
    width: 100%;
    display: flex;
    font-size: 1.1vw;
}

.access, .age {
    margin-top: 2%;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    width: 30%;
    font-size: 0.9vw;
    font-family: opensans-bold;
    border-radius: 5px;
}

.access {
    border: 3px solid #FE6B00;
}

.age {
    color: #8F8F8F;
    border: solid #8F8F8F;
}

.line1 > .icon {
    height: 20px;
    width: 20px;
    
    margin-right: 2%;

}

.vs-background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vs-background > * {
    height: 90vh;
    width: 50vh;
    object-fit: cover;
    opacity: 20%;
}

.background-away {
    opacity: 0%;
    object-position: right;
    object-fit: cover;
    transition: 0.5s ease;
    
}

.background-home {
    opacity: 0%;
    object-fit: cover;
    object-position: left;
    transition: 0.5s ease;
}

.vs-away-home {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.vs-away-home > * {
    height: 100vh;
    width: 23%;
    object-fit: cover;
    background-position: center;
    background-color: green;
}

.vs-away {
    opacity: 100%;
    background: url("img/AWAY.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s ease;
    
}

.vs-home {
    opacity: 100%;
    background: url("img/HOME.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s ease;
}

.vs-detail {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.vs-container {
    width: 40%;
    height: 70vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 3fr 2fr 1.5fr;
    grid-template-areas: "title title title" "away vs home" "detail detail detail" " button button button";
    gap: 15px;
    padding: 1%;
    box-sizing: border-box;
}

.ambil  {
    width: 100%;
    height: 8vh;
    color: white;
    background-color: #FE6B00;
    border: transparent;
    text-transform: uppercase;
    font-size: 15px;
    font-family: opensans-bold;
    border-radius: 8px;
    transition: 0.3s ease;
    transform: scale(1);
}

.ambil:hover {
    transform: scale(1.05);
}

.de-title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-family: opensans-bold;
    
}

.de-away {
    grid-area: away;
}

.de-vs {
    grid-area: vs;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-family: opensans-bold;
}

.de-home {
    grid-area: home;
}

.de-detail {
    grid-area: detail;
    padding: 0px 10% 0px 10% ;
}

.de-button {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10% 0px 10% ;
}

.box-icon {
    height: 9vw;
    width: 9vw;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.de-away, .de-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.2vw;
}


.primary {
    width: 100%;
}

.primary > button  {
    height: 50px;
    width: 100%;
    background-color: #FE6B00;
    font-family: opensans-bold;
    border-radius: 8px;
    color: white;
    font-size: 1.3vw;
    border: transparent;
}

.secondary > button  {
    margin-left: 20px ;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: transparent;
}

.white-space {
    height: 15vh;
}


table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 15px;


}

td {
    padding-left: 10px;
    font-size: 15px;
}

.td1 {
    width: 30px;
    background: url(img/price.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.td2 {
    width: 30px;
    background: url(img/calender.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

.td3 {
    width: 30px;
    background: url(img/location.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.td4 {
    width: 30px;
    background: url(img/clock.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}



.tableicon {
    display: inline-block;
    height: 100%;
    width: 50px;
    background-color: green;
}

@keyframes background-left {
    0% {
        opacity: 0%;
        width: 0%;
    }

    100%{
        opacity: 20%;
    }
}

@keyframes background-left-leave {
    0% {
        opacity: 0%;
        width: 0%;
    }

    100%{
        opacity: 20%;
    }
}

@keyframes team-left {
    0% {
        opacity: 0%;
        margin-top: 300px;
    }

    100%{
        opacity: 100%;
        margin-top: 0px;
    }
}


@keyframes team-left-leave {
    0% {
        opacity: 0%;
        margin-top: 300px;
    }

    100%{
        opacity: 100%;
        margin-top: 0px;
    }
}

@keyframes team-right {
    0% {
        opacity: 0%;
        margin-bottom: 300px;
    }

    100%{
        opacity: 100%;
        margin-bottom: 0px;
    }
}


@keyframes team-right-leave {
    0% {
        opacity: 0%;
        margin-bottom: 300px;
    }

    100%{
        opacity: 100%;
        margin-bottom: 0px;
    }
}
/* 
.background-animation {
    animation-name: background-left;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.away-animation {
    animation-name: team-left;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.home-animation {
    animation-name: team-right;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.background-animation-leave {
    animation-name: background-left-leave;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.away-animation-leave {
    animation-name: team-left-leave;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.home-animation-leave {
    animation-name: team-right-leave;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
} */

.decoration {
    position: absolute;
    width: 75vw;
}

/* TABLET */
@media (min-width: 576px) and (max-width: 991.98px) {

    .extra-description {
        padding-bottom: 2vh;
    }

    .userlogo {
        height: 13vw;
        width: 13vw;
        
    }

    .sportlogo {
        height: 2vw;
        width: 2vw;
        display: inline-block;
        
    }

    .box-content {
        padding-bottom: 15vh;
    }

    table {
        margin-top: 4%;
        width: 40%;
        border-collapse: separate;
        border-spacing: 0 5px;
    }
}

/* SMARTPHONE */
@media (max-width: 575.98px) {
    .userlogo {
        height: 25vw;
        width: 25vw;
        
    }

    .sportlogo {
        height: 20px;
        width: 20px;
        display: inline-block;
        
    }

    .title {
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title > div > h1 {
        text-align: center;
    }

    .title > div > div > span {
        font-family: opensans-bold;
        font-size: 12px;
    }

    .access-phone {
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .access-phone > h1 {
        font-family: opensans-bold;
    }

    .access-phone > h1 > span {
        font-size: 15px;
    }

    .des {
        font-size: 12px;
    }

    .icon {
        height: 4vw;
        width: 4vw;
    }

    .box-content {
        padding-bottom: 15vh;
    }

    .two {
        height: 3.5vh;
        display: grid;
        font-size: 12px;
        font-family: opensans-bold;
        border: 3px solid #8F8F8F;
        color: #8F8F8F;
        width: 30vw;
        border-radius: 50px;
        text-align: center;
    }

    .navbar > div > span {
        font-size: 20px;
        font-family: opensans-bold;
    }

    .access-badge {
        width: 300px;
    }
    
}


