@font-face {
    font-family: opensans;
    src: url(font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(font/OpenSans-Bold.ttf);
}

* {
    /* outline: 1px solid red; */
    scroll-behavior: smooth;
}

/* NAVBAR */


.nav-item {
    font-size: 13px;
    width: 100px;
    text-align: center;
}

.logo {
    height: 5vh;
    width: 5vh;
    background-color: grey;
}


.login{
    background-color: #FE6B00;
    color: white;
    border-radius: 0px;
    border: 3px solid white;
    font-size: 13px;
}

.login:hover{
    border: 3px solid #FE6B00;
    color: #FE6B00;
    border-radius: 0px;
}

.login, .signup {
    width: 17vh;
    font-size: 13px;

}

.active > span {
    font-family: opensans-bold;
    color: #FE6B00;
}

.login {
    background-color: #FE6B00;
    border-radius: 0px;
    color: white;
    font-family: opensans-bold;
}

/* HOME */

.nextbutton {
    background: #FE6B00;
    transform: scale(1);
    color: white;
    transition: 0.3s ease;
}

.nextbutton:hover {
    transform: scale(1.1);
    background: #FE6B00;
    color: white;
    
}

.col-left > .text-muted {
    margin: 0px;
}

.col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.col-left > h1 {
    font-family: opensans-bold;
    font-size: 6vw;
    color: #FE6B00;
}

.col-left > p {
    width: 75%;
    font-size: 12px;
}

.col-left > button {
    width: 50%;
    background-color: #FE6B00;
}

.col-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-right > img {
    height: 75%;
    width: 60%;
}

/* OFFER */

.offer-container {
    height: 100vh;
}

.offertitle {
    color: #FE6B00;
    font-size: 1.5vw;
    font-family: opensans-bold;
}

.rowoffer {
    width: 80%;
    margin-top: 8vh;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowoffer > div {
    border: 3px solid #FE6B00;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rowoffer > div > img  {
    height: 10vh;

}

.rowoffer > div > h4  {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2vw;
    font-family: opensans-bold;
    color: #FE6B00;
    
}

.rowoffer > div > p {
    line-height: 1.2rem;
    text-align: center;
    font-size: 0.8vw;
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* OFFER1 */

.offer1-container {
    height: 100vh;
    padding-top: 8vh;
}

.offer1-container > div > img{
    height: 75%;
    width: 60%;
    object-fit: cover;
    object-position: center;
}

.offer1-description {
    padding: 5% 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer1-description > div > h3 {
    width: 75%;
}

.offer1-description > div > p {
    width: 75%;
}

/* OFFER2 */

.offer2-container {
    height: 100vh;
    padding-top: 8vh;
}

.offer2-container > div > img{
    height: 75%;
    width: 60%;
    object-fit: cover;
    object-position: center;
}

.offer2-description {
    padding: 12% 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer2-description > div > h1 {
    width: 100%;
    text-align: right;
}

.offer2-description > div  {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.offer2-description > div > h3 {
    width: 75%;
}

.offer2-description > div > p {
    width: 75%;
}

/* ABOUT4 */

.login-offer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-offer > .row {
    height: 50%;
    width: 80%;
    padding: 2%;
    background-color: #FF8A35;
}

.login-offer-content {
    color: white;
    margin-left: 2%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.login-offer-img {
    background-image: url(img/aboutimg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-offer-content > div > a > button {
    width: 13vw;
    height: 35px;
    color: #FE6B00;
    border: transparent;
    transform: scale(1);
    transition: 0.3s ease;
}

.login-offer-content > div > a > button:hover {
    transform: scale(1.1);
}

.login-button {
    margin-left: 5%;
}

/* FOOTER */

.about-footer {
    height: 35vh;
}

.footer-title {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about-footer > div {
    padding-top: 2%;
}

.list-unstyled > a {
    text-decoration: none;
    margin-top: 4%;
    color: black;
    font-size: 15px;
    font-weight: 500;
    opacity: 75%;
}

.list-unstyled > li {
    font-family: opensans-bold;
}

.footer-title > h4 {
    margin-top: 5%;
    font-size: 18px;
    font-weight: opensans-bold;
}

.footer-title > h6 {
    font-size: 13px;
    width: 50%;
    text-align: center;
}

.footer-icon {
    background-image: url(img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5vw;
    width: 5vw;
}


/* TABLET */

@media screen and (min-width: 720px) and (max-width: 1023px) {
    .hero {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 79.69%), url(img/sepakbola.png);
        background-size: cover;
        background-position: center;
        
    }

    .col-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 2%;
    }

    .col-left > h1 {
        color: white;
        font-size: 12vh;
        width: 25%;
    }

    .col-left > p {
        color: white;
        width: 100%;
    }

    .col-left > button {
        width: 100%;
        background-color: white;
        color: #FE6B00;
        font-size: 2vw;
        font-family: opensans-bold;
        height: 7vh;

    }

/* OFFER */

.offertitle {
    color: #FE6B00;
    font-size: 2.5vw;
    font-family: opensans-bold;
}

.rowoffer > div {
    border: transparent;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid #FE6B00;
}

.rowoffer > div > img  {
    height: 15vh;

}

.rowoffer > div > h4  {
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
    font-family: opensans-bold;
    color: #FE6B00;
    
}

.rowoffer {
    height: 80%;
}

.rowoffer > div > p {
    line-height: 1.2rem;
    text-align: center;
    font-size: 1.5vw;
    width: 75%;
}

.offer-container {
    height: 230vh;
}

/* OFFER1 */

.offer1-container {
    padding-top: 8vh;
    height: 100vh;
}

.upper-offer1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer1-container > div > img {
    height: 80%;
}

.offer1-description > div > h3 {
    width: 100%;
    font-size: 20px;
}

.offer1-description > div > p {
    width: 100%;
    font-size: 12px;
}

.bottom-offer1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* OFFER2 */

.offer2-container {
    padding-top: 8vh;
    height: 100vh;
}

.upper-offer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer2-container > div > img {
    height: 80%;
}

.offer2-description > div > h3 {
    width: 100%;
    font-size: 20px;
}

.offer2-description > div > p {
    width: 100%;
    font-size: 12px;
}

.bottom-offer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-offer > .row {
    height: 80%;
    width: 80%;
    padding: 0%;
    background-color: transparent;
}

.login-offer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginofferpage {
    background-color: #FE6B00;
    margin-top: 8%;
}

.login-offer-content > div > button {
    width: 28vw;
    height: 35px;
    color: #FE6B00;
    border: transparent;
}

.login-offer-content {
    color: white;
    margin-left: 2%;
    padding: 10% 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.footer-title > h4 {
    font-size: 16px;
    text-align: center;
    font-family: opensans-bold;
}

.footer-icon {
    width: 8vw;
    height: 8vw;
}

}

@media screen and (max-width: 720px){
    .hero {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 79.69%), url(img/sepakbola.png);
        background-size: cover;
        background-position: center;
        
    }

    .col-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 2%;
    }

    .col-left > h1 {
        color: white;
        font-size: 12vh;
        width: 25%;
    }

    .col-left > p {
        color: white;
        width: 100%;
        font-size: 1.8vh;
    }

    .col-left > button {
        width: 100%;
        background-color: white;
        color: #FE6B00;
        font-size: 4vw;
        font-family: opensans-bold;
        height: 7vh;
        text-align: center;
    }

    /* OFFER */

    .offertitle {
        color: #FE6B00;
        font-size: 5vw;
        font-family: opensans-bold;
    }
    
    .rowoffer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .rowoffer > div {
        padding: 10% 0%;
        box-sizing: border-box;
        border: transparent;
        border-radius: 0px;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 3px solid #FE6B00;
    }
    
    .rowoffer > div > img  {
        height: 10vh;
    
    }
    
    .rowoffer > div > h4  {
        text-transform: uppercase;
        text-align: center;
        font-size: 5vw;
        font-family: opensans-bold;
        color: #FE6B00;
        
    }
    
    .rowoffer > div > p {
        line-height: 1.2rem;
        text-align: center;
        font-size: 3vw;
        width: 75%;
    }
    
    .offer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 230vh;
    }

    .rowoffer {
        height: 90%;
    }

    .offer1-container {
        padding-top: 8vh;
    }
    
    .offer1-container > div > img{
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
    
    .offer1-description {
        display: flex;
        flex-direction: column;
    }
    
    .offer1-description > div > h3 {
        width: 100%;
        font-size: 20px;
    }
    
    .offer1-description > div > p {
        width: 100%;
        font-size: 12px;
    }

    /* OFFER2  */

    .offer2-container {
        padding-top: 8vh;
    }
    
    .offer2-container > div > img{
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
    
    .offer2-description {
        display: flex;
        flex-direction: column;
    }
    
    .offer2-description > div > h3 {
        width: 100%;
        font-size: 20px;
    }
    
    .offer2-description > div > p {
        width: 100%;
        font-size: 12px;
    }

    .loginofferpage {
        margin-top: 15%;
        background-color: #FE6B00;
    }

    .login-offer > .row {
        height: 100%;
        width: 100%;
        padding: 0%;
        background-color: transparent;
    }

    .login-offer-content {
        color: white;
        margin-left: 2%;
        padding: 20% 0%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
    }

    .login-offer-content > div > button {
        width: 95%;
        height: 50px;
        color: #FE6B00;
        border: transparent;
        font-size: 18px;
    }

    .login-button {
        margin-left: 0px;
        margin-top: 4%;
    }

    .footer-icon {
        background-color: grey;
        height: 20vw;
        width: 20vw;
    }

    .about-footer > div {
        margin-top: 5%;
        padding-top: 5%;
    }
}