@font-face {
    font-family: opensans;
    src: url(Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(Font/OpenSans-Bold.ttf);
}

* {
    padding: 0%;
    margin: 0%;
    font-family: opensans;
    /* outline: 1px solid red; */
}

.container {
    height: 100vh;
    background: linear-gradient(0deg, rgba(255, 136, 49, 0.8), rgba(255, 136, 49, 0.8)),  url(img/field.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: absolute;
    width: 100%;
    height: 8vh;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
}

.goback {
    border: transparent;
    background: url(img/gobackwhite.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.big-box {
    max-height: 90vh;
    min-height: 85vh;
    max-width: 500px;
    width: 80vw;
    margin: auto;
    background: white;
    background-position: center;
    background-size: cover;
    border: transparent;
    border-radius: 12px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    grid-template-rows: 2fr 1.5fr 1.5fr 1.5fr 2fr 0.5fr;
    gap: 10px;
    padding: 3% 2%;
    box-sizing: border-box;

}


.title {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FE6B00;
    font-family: opensans-bold;
    font-size: 30px;
}

.title > h1 {
    font-size: 25px;
}

.title > p {
    font-size: 12px;
}


.divider {
    border-top: 3px solid white;
}


.form, .form-eye {
    display: flex;
    align-items: center;
}

.form {
    min-height: 50px;
}

.form-eye {
    justify-content: space-between;
}

.form-eye > input {
    width: 100%;
    height: 8vh;
    border-radius: 12px;
    padding-left: 12%;
    box-sizing: border-box;
    border: transparent;
    font-size: 13px;
    transition: 0.2s ease;
    border: 2px solid #FE6B00;
    outline: none;
}

.form-eye > input:focus {
    transition: 0.2s ease;
    border: 5px solid #FE6B00;
}

.form-eye > .eye{
    height: 30px;
    width: 30px; 
    background-image: url(img/eye.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right: 0;
    margin-right: 10%;
}

.icon {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 20px;
}

.form > input {
    width: 100%;
    height: 8vh;
    border-radius: 12px;
    padding-left: 12%;
    box-sizing: border-box;
    border: transparent;
    font-size: 13px;
    border: 2px solid #FE6B00;
    outline: none;
    transition: 0.2s ease;
}

.form > input:focus {
    transition: 0.2s ease;
    border: 5px solid #FE6B00;
}

.signup {
    display: flex;
    align-items: flex-end;
}

.signup > button {
    width: 100%;
    height: 8vh;
    background: #FE6B00;
    border: transparent;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    color: white;
    font-size: 20px;
    font-family: opensans-bold;
    cursor: pointer;
    border-radius: 12px;

}

.log {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    color: #FE6B00;
}


