@font-face {
    font-family: opensans;
    src: url(font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(font/OpenSans-Bold.ttf);
}

* {
    outline: 1px solid red;
}
/* NAVBAR */

.navbar {
    background: transparent;
}

.logo {
    height: 5vh;
    width: 5vh;
    
}


.login{
    background-color: #FE6B00;
    color: white;
    border-radius: 0px;
    border: 3px solid white;
}

.login:hover{
    border: 3px solid #FE6B00;
    color: black;
    border-radius: 0px;
}

.login, .signup {
    width: 17vh;
}

.active > span {
    font-family: opensans-bold;
    color: #FE6B00;
}

.login {
    background-color: #FE6B00;
    border-radius: 0px;
    color: white;
    font-family: opensans-bold;
}

body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(255, 136, 49, 0.80) 0%, rgba(255, 136, 49, 0.80) 100%), url(img/field.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-brand > div {
    background: url(img/gobackwhite.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    transition: 0.3s ease;
    transform: scale(1);
}

.navbar-brand > div:hover {
    transform: scale(1.1);

}


.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 35%;
    height: 80%;
    background-color: white;
    padding: 1% 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}

.icon {
    height: 25px;
    width: 25px;
    position: absolute;
    background: grey;
}

.icon-eye {
    height: 30px;
    width: 30px;
    background: grey;
    transition: 0.3s ease;
    transform: scale(1);
}

.icon-eye:hover {
    transform: scale(1.1);
}


h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FE6B00;
    font-family: opensans-bold;
    font-size: 25px;
}

.input-box {
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    border: 3px solid #FE6B00;
    border-radius: 8px;
}

.input-box > input {
    height: 100%;
    width: 100%;
    padding-left: 10%;
    border: transparent;
    outline: transparent;
}


.upper {
    height: 70%;
    gap: 2%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}

.upper2 {
    height: 80%;
    gap: 2%;
    display: grid;
    grid-template-rows: 2fr 4fr 1fr ;
}

.footer {
    height: 25%;
    gap: 5%;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr ;
}

.footer2 {
    height: 20%;
    gap: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

.footer > .next-button {
    cursor: pointer;
    height: 100%;
    background-color: #FE6B00;
    color: white;
    font-family: opensans-bold;
    border: transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    transform: scale(1);
}

.footer > .next-button:hover {
    transform: scale(1.05);
}

.footer2 > button {
    cursor: pointer;
    background-color: #FE6B00;
    color: white;
    font-family: opensans-bold;
    border: transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: 0.3s ease;
}

.footer2 > a {
    cursor: pointer;
    background-color: #FE6B00;
    color: white;
    font-family: opensans-bold;
    border: transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: 0.3s ease;
}

.footer > a {
    font-size: 12px;
    color: #FE6B00;
}

.image-container {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-image {
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url("img/add-image-real.png");
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

#buttonreal:hover, #buttonfake:hover {
    transform: scale(1.05);
}

.image-box-1 > img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url("img/ppblank.png");
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.edit-image {
    cursor: pointer;
    position: absolute;
    margin: 0px 5px 5px 0px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: white;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1);
    transition: 0.3s ease;
}

.edit-image:hover {
    transform: scale(1.1);

}


.img-preview {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.image-box-1 {
    object-fit: cover;
    object-position: center;
}


@media (min-width: 576px) and (max-width: 991.98px) {
    .box {
        width: 80%;
        height: 80%;
        background-color: white;
        padding: 1% 2%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
    }
}

@media (max-width: 575.98px) {

    body {
        height: 100vh;
        background: white;
        background-size: cover;
        background-position: center;
    }

    .box {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 1% 2%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
    }

    .upper {
        height: 60%;
        gap: 8%;
        display: grid;
        grid-template-rows: 2fr 1fr 1fr 1fr;
    }

    .footer {
        padding-bottom: 5%;
        height: 25%;
        gap: 5%;
        display: grid;
        grid-template-rows: 1fr  1fr ;
    }

    .icon {
        height: 25px;
        width: 25px;
        position: absolute;
        background: grey;
    }
    
    .icon-eye {
        height: 25px;
        width: 25px;
        background: grey;
    }

    .input-box > input {
        height: 100%;
        width: 100%;
        padding-left: 12%;
        border: transparent;
        outline: transparent;
        font-size: 12px;
    }

    .upper2 {
        height: 65%;
        gap: 2%;
        display: grid;
        grid-template-rows: 2fr 4fr 1fr ;
    }

    .navbar-brand > div {
        background: url(img/back\ button.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 5vh;
        width: 5vh;
    }

}
